<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <ion-avatar>
      <img style="width: 150px; height: 70px;" alt="Silhouette of a person's head" src="assets/profile.jpg"/>
    </ion-avatar>
  </div>
  <ion-title class="custom-title">Bella Baxter</ion-title>
  <ion-title class="custom-subtitle">Patient</ion-title>
  <ion-title class="custom-label">Email</ion-title>
  <ion-title class="custom-text">bella&#64;gmail.com</ion-title>
  <ion-title class="custom-label">Phone number</ion-title>
  <ion-title class="custom-text">+52 671 113 7152</ion-title>

  <div class="center-items">
    <ion-icon name="create" class="custom-text" size="large"></ion-icon>
  </div>
  
  <div class="custom-footer">
    <ion-img style="height: 80px; transform: rotate(325deg);" src="assets/butterfly-wallpaper.png"></ion-img>
    <ion-img style="height: 100px;" src="assets/butterfly-wallpaper.png"></ion-img>
    <ion-img style="height: 80px; transform: rotate(15deg);" src="assets/butterfly-wallpaper.png"></ion-img>
  </div>
</ion-content>
