<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background" [fullscreen]="true">
  <ion-title class="custom-title">Profiles</ion-title>

  <div class="custom-flex-container">
    <ion-card class="custom-card ion-no-padding">
      <img alt="Clinical psychologists" src="assets/clinical-psychologists.jpg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Clinical Psychologists</ion-card-title>
        <ion-card-subtitle class="custom-label">Specialists in Mental Health</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They are professionals with training in clinical psychology who provide
        evidence-based therapy for a variety of mental and emotional disorders.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/psychiatrists.jpg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Psychiatrists</ion-card-title>
        <ion-card-subtitle class="custom-label">Medical Specialists in Psychiatry</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They are medical doctors specialized in psychiatry who can prescribe
        medications to treat mental disorders, in addition to providing therapy.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/clinical-social-workers.jpeg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Clinical Social Workers</ion-card-title>
        <ion-card-subtitle class="custom-label">Emotional Support and Therapy</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        These professionals have training in social work and provide emotional
        support, resources, and therapy to individuals and families.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/marriage-and-family-therapists.jpeg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Marriage and Family Therapists</ion-card-title>
        <ion-card-subtitle class="custom-label">Specializing in Relationship Dynamics</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They specialize in working with couples and families to address
        relationship issues, communication, and family dynamics.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/mental-health-therapists.jpeg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Mental Health Therapists</ion-card-title>
        <ion-card-subtitle class="custom-label">Offering Therapy for Various Mental Health Issues</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They are mental health professionals who may have a variety of
        backgrounds, such as psychology, counseling, or social work, and provide
        therapy for a range of mental health issues.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/professional-counselors.jpg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Professional Counselors</ion-card-title>
        <ion-card-subtitle class="custom-label">Providing Counseling and Support</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They are professionals who provide counseling and support for a wide
        range of emotional and life issues.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/art-therapists.jpeg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Art Therapists</ion-card-title>
        <ion-card-subtitle class="custom-label">Utilizing Art for Emotional Exploration</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They use art as a therapeutic medium to help individuals explore
        emotions, improve self-expression, and promote personal growth.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/play-therapists.jpeg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Play Therapists</ion-card-title>
        <ion-card-subtitle class="custom-label">Using Play for Emotional Expression and
          Development</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They use play as a form of therapy to help children express emotions,
        solve problems, and develop social skills.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/body-therapists.jpeg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Body Therapists</ion-card-title>
        <ion-card-subtitle class="custom-label">Addressing Emotional Issues through Somatic
          Approaches</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They use somatic approaches to address trauma and other emotional issues
        through body awareness and movement.
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card ion-no-padding">
      <img alt="Silhouette of mountains" src="assets/sex-therapists.jpeg" />
      <ion-card-header>
        <ion-card-title class="custom-label">Sex Therapists</ion-card-title>
        <ion-card-subtitle class="custom-label">Specializing in Sexual Health and Relationships</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-text">
        They specialize in addressing issues related to sexuality and sexual
        relationships. for each one add a subtitle
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>