.custom-background{
    --background: linear-gradient(to right, #8bd7f7, #f78be7);
}

.custom-title{
    font-family: "Permanent Marker", cursive;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.custom-primary {
    --background: linear-gradient(to right, #8bd7f7, #f78be7);
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white; 
    font-weight: bold;
  }

.custom-register {
    --background: #8bd7f7;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white; 
    font-weight: bold;
}

.custom-img ion-img {
    background-color: rgba(255, 255, 255, 0);
}

.custom-input{
    --background: linear-gradient(to right, #8bd7f7, #f78be7);
    --highlight-color-focused: transparent;
    --border-color: transparent;
    margin-top: 0;
}


