<ion-content class="custom-background">
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">
      <ion-img style="height: 200px;" src="assets/logo.png"></ion-img>
    </ion-col>
  </ion-row>
  
  <ion-title class="custom-title">SoulSync</ion-title>
  <ion-item class="custom-input">
    <ion-label position="floating">Full name</ion-label>
    <ion-input type="text" placeholder="Full name" [(ngModel)] = "data.name" required></ion-input>
  </ion-item>
  <ion-item class="custom-input">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" placeholder="Email" [(ngModel)] = "data.email" required></ion-input>
  </ion-item>
  <ion-item class="custom-input"> 
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" placeholder="Password" [(ngModel)] = "data.password" required></ion-input>
  </ion-item>
  <ion-item class="custom-input">
    <ion-label position="floating">Phone</ion-label>
    <ion-input type="text" placeholder="Phone number" [(ngModel)]="data.phone" required></ion-input>
  </ion-item>
  <ion-item class="custom-input">
    <ion-label position="floating">Role</ion-label>
    <ion-select [(ngModel)] = "data.role" required>
      <ion-select-option value="patient">Patient</ion-select-option>
      <ion-select-option value="therapist">Therapist</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button class="ion-padding custom-primary" expand="full" (click)="registerFireBase()">Register</ion-button>
  <ion-button class="ion-padding custom-login" expand="full" (click)="login()">Back to login</ion-button>
</ion-content>