.custom-toolbar{
    --background: linear-gradient(to right, #8bd7f7, #f78be7);
}

.custom-title{
    font-family: "Permanent Marker", cursive;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 20px;
}