<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
      <ion-row>
        <ion-col sizeMd="4" offsetMd="4">
            <ion-img style="height: 50px;" src="assets/logo.png"></ion-img>
            <ion-title class="custom-title">SoulSync</ion-title>
        </ion-col>
      </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>

<ion-tabs>
  <ion-tab-bar class="custom-tabs" slot="bottom">
    <ion-tab-button class="custom-button" tab="appointments">
      <ion-icon name="calendar-number-outline" class="custom-label"></ion-icon>
      <ion-label class="custom-label">Appointments</ion-label>
    </ion-tab-button>

    <ion-tab-button class="custom-button" tab="tab2">
      <ion-icon name="home-outline" class="custom-label"></ion-icon>
      <ion-label class="custom-label">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="custom-button" tab="user">
      <ion-icon name="person-outline" class="custom-label"></ion-icon>
      <ion-label class="custom-label">User</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>